<!--<h1>Recommendations#list</h1>-->
<!--<p>Find me in app/views/recommendations/list.html.erb</p>-->

<!DOCTYPE html>
<body>
<head>
<title>Recommendation Form Option</title>
</head>
<%= button_to 'Exit To Menu', menu_index_path%>
<%= button_to 'Create a new form' , recommendations_new_path%>
<%= button_to 'Show all recommendations', recommendations_show_path%>
<%= button_to 'Delete a recommendation', recommendations_show_path%>
</body>
</html>