<div id="menu">
    <h1>Menu</h1>
    <div id="buttons">
        <%= button_to 'Applications', student_application_index_path%>
        <%= button_to 'Adminstrator Panel'%>
        <%= button_to 'Available Courses', data_scraper_scrape_path%>
        <%= button_to 'Recommendations' %>
    </div>
</div>