<div id="menu">
    <h1>CSE Grader Assignment System</h1><small>by OnTrack</small>
    <h2>Menu</h2>
    <div id="buttons">
        <%= button_to 'Applications', student_application_index_path%>
        <%= button_to 'Recommendations' %>
        <%= button_to 'Adminstrator Panel', admin_panel_load_path%>
        <%= button_to 'Configuration', configuration_index_path%>
    </div>
</div>
