
body {
  margin: 0px;
  font-family: Georgia;
  background: linear-gradient(to bottom, #e3e3e3 0, #b9b9ba 100%);
  // background-color: #d3d3d3;
}

.header {
  text-align: center;
  text-shadow: grey 1px 1px 2px;
}


footer {
  text-align: center;
  background: linear-gradient(to bottom, rgb(176,176,176), darkgray);
  min-height: 80px;
}

.navigation {
  background: linear-gradient(to bottom, #e3e3e3 0, #b9b9ba 100%);
  text-align: center;
  font-size: 0;
  padding: 20px 20px 10px 20px;
  border-bottom: 5px solid rgb(152,3,3);
}



.navigation a{
  // background: linear-gradient(to bottom, #e3e3e3 0, #b9b9ba 100%);
  // border-bottom: 5px solid rgb(152,3,3);
  color: black;
  padding: 20px 16px 10px 16px;
  text-decoration: none;
  font-size: 20px;

}

.navigation a:hover {
  background: linear-gradient(to bottom, #fa1e1e 0, rgb(152,3,3) 100%);
  color: white;
}


.content {
  width:1000px;
  border: 3px solid black;
  padding: 10px;
  margin: auto;
  border-radius: 15px;
  background-color: #f8f8f8;
}

.home_layout {
  width: 800px;
  padding: 0px 20px 20px 20px;
  margin-right: 329px;
  margin-left:429px;
  margin-bottom: 10px;
}

.home_img {
  width: 200px;
  padding-top: 5px;

  float: left;
}

.home_header {
  margin-left: 300px;
  text-shadow: grey 1px 1px 2px;
}

.home_content {
  margin-left: 220px;
  width: 100%;
  border: 3px solid black;
  padding: 2px 10px 1px 10px;
  background-color: #f8f8f8;
  border-radius: 15px;
}

.center_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

tr:nth-child(even){
  background-color: #dddddd;
}

.profile_image {
  height: 416px;
  width: 200px;
}