<!-- Created by Jing George 4/13/2020
  Spinner animation from https://tobiasahlin.com/spinkit/
-->
<div id="spinner">
<div class="sk-chase">
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
  <div class="sk-chase-dot"></div>
</div>
<h3>Scraping and organizing</h3>
</div>
