<%= javascript_pack_tag 'student_application', 'data-turbolinks-track': 'reload' %>
<script>
    function addCourse() {
        var tbody = document.getElementById('course_list');
        var newCourse = document.createElement('tr');
        var selection = document.createElement('td');
        var grade = document.createElement('td');
        var gradeText = document.createElement('select');
        var grades = ['A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D', 'D-', 'F'];
        for(var i = 0; i < grades.length; i++) {
            var gradeOption = document.createElement('option');
            gradeOption.vaLue = grades[i];
            gradeOption.textContent = grades[i];
            gradeText.appendChild(gradeOption);
        }
        var deleteButton = document.createElement('button');
        deleteButton.textContent = "Delete this Class";
        deleteButton.addEventListener('click', function() {
            newCourse.remove();
        });
        grade.appendChild(gradeText);
        newCourse.appendChild(selection);
        newCourse.appendChild(grade);
        newCourse.appendChild(deleteButton);
        tbody.appendChild(newCourse);
    }

    
</script>
<%# <%= javascript_include_tag('student_application.js') %>
<h1>New Form</h1>


<%= button_to 'Exit', student_application_index_path%>

<form id="application">
    <div id="contact_info">
        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="fname">
        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="lname">
        <label for="lname.#">lastName.#:</label> 
        <input type="text" id="lname.#" name="lname.#">
    </div>
    <div id="academic_info">
        <label for="gpa">Overall GPA:</label>
        <input type="text" id="gpa" name="gpa">
        <h2>Courses Completed</h2>
        <table>
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody id="course_list">
            </tbody>
        </table>    
        <button type="button" id="add_courses" onclick="addCourse()">Add a Course</button>
    </div>
    <div id="time_info">
    </div>
</form>



<%= button_to 'Submit Application', student_application_create_path%>