
<script>
    function addCourse() {
        fetch('../student_application/new.json', {method: 'GET'})
            .then(response => response.json())
            .then(json => {
                console.log(json);
                var tbody = document.getElementById('course_list');
                var newCourse = document.createElement('tr');
                var courseSelection = document.createElement('td');
                var courseText = document.createElement('select');
                courseText.addEventListener('change', timeOnCourse());
                var arrayCourse = [];
                json.classNames.forEach(element => {
                    var array = element.name.split(' ');
                    arrayCourse.push(array[0] + ' ' + array[1]);
                });
                arrayCourse.forEach(element => {
                    var courseOption = document.createElement('option');;
                    courseOption.value = element;
                    courseOption.textContent = element;
                    courseText.append(courseOption);
                });
                var gradeSelection = document.createElement('td');
                var gradeText = document.createElement('select');
                var grades = ['A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D', 'D-', 'F'];
                for(var i = 0; i < grades.length; i++) {
                    var gradeOption = document.createElement('option');
                    gradeOption.value = grades[i];
                    gradeOption.textContent = grades[i];
                    gradeText.appendChild(gradeOption);
                }
                var deleteButton = document.createElement('button');
                deleteButton.textContent = "Delete this Class";
                deleteButton.addEventListener('click', function() {
                    newCourse.remove();
                });
                courseSelection.appendChild(courseText);
                gradeSelection.appendChild(gradeText);
                newCourse.appendChild(courseSelection);
                newCourse.appendChild(gradeSelection);
                newCourse.appendChild(deleteButton);
                tbody.appendChild(newCourse);
            });
    }

    function timeOnCourse() {
        console.log('change effect');
    }
</script>
<%# <%= javascript_include_tag('student_application.js') %>
<h1>New Form</h1>


<%= button_to 'Exit', student_application_index_path%>

<form id="application">
    <div id="contact_info">
        <h2>Contact Information</h2>
        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="fname">
        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="lname">
    </div>
    <div id="academic_info">
        <h2>Academic Info</h2>
        <label for="gpa">Overall GPA:</label>
        <input type="text" id="gpa" name="gpa">
        <h3>Courses Completed</h3>
        <table>
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody id="course_list">
            </tbody>
        </table>
        <button type="button" id="add_courses" onclick="addCourse()">Add a Course</button>   
        <h3>Time Available</h3>
        <table>
            <thead>
                <tr>
                    <th>Course</th>
                </tr>
            </thead>
            <tbody id="available_time">
            </tbody>
        </table>
    </div>
    <div id="time_info">
    </div>
</form>



<%= button_to 'Submit Application', student_application_create_path%>