
<script>
    function addCourse() {
        fetch('../student_application/new.json', {method: 'GET'})
            .then(response => response.json())
            .then(json => {
                console.log(json);
                var tbody = document.getElementById('course_list');
                var newCourse = document.createElement('tr');
                var courseSelection = document.createElement('td');
                var courseText = document.createElement('select');
                courseText.id = "courseText";
                courseText.addEventListener('change', function(){ 
                    timeOnCourse(json.descriptions, json.meetings, courseText);
                    newCourse.class = courseText.value;
                    });
                var arrayCourse = [];
                json.classNames.forEach(element => {
                    var shortName = element.name.split(' ');
                    var courseOption = document.createElement('option');
                    courseOption.value = element.name;
                    courseOption.textContent = shortName[0] + ' ' + shortName[1];
                    courseText.append(courseOption);
                })
                var gradeSelection = document.createElement('td');
                var gradeText = document.createElement('select');
                var grades = ['A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-', 'D+', 'D', 'D-', 'F'];
                for(var i = 0; i < grades.length; i++) {
                    var gradeOption = document.createElement('option');
                    gradeOption.value = grades[i];
                    gradeOption.textContent = grades[i];
                    gradeText.appendChild(gradeOption);
                }
                var deleteButton = document.createElement('button');
                deleteButton.textContent = "Delete this Class";
                deleteButton.addEventListener('click', function() {
                    document.getElementById(courseText.value.split(' ')[0] + ' ' + courseText.value.split(' ')[1]).remove();
                    newCourse.remove();  
                });
                courseSelection.appendChild(courseText);
                gradeSelection.appendChild(gradeText);
                newCourse.appendChild(courseSelection);
                newCourse.appendChild(gradeSelection);
                newCourse.appendChild(deleteButton);
                tbody.appendChild(newCourse);
            });
    }

    function timeOnCourse(descriptions, meetings, courseText) {
        var value = courseText.value;
        var descriptionId = [];
        var times = [];
        descriptions.forEach(element => {
            if(element.name === value) {
                descriptionId.push(element.id);
            }
        })
        meetings.forEach(element => {
            if(descriptionId.includes(element.description_id)) {
                times.push(element.time);
            }
        })
        var timeTBody = document.getElementById('available_time');
        var newTimeRow = document.createElement('tr');
        newTimeRow.id = value.split(' ')[0] + ' ' + value.split(' ')[1];
        var course = document.createElement('td');
        course.textContent = value.split(' ')[0] + ' ' + value.split(' ')[1];
        var timeTd = document.createElement('td');
        times = new Set(times);
        times.forEach(element => {
            if(element != "ARR") {
                var div = document.createElement('div');
                div.class = 'timeDiv';
                var checkBox = document.createElement('input');
                var label = document.createElement('label');
                checkBox.type = 'checkbox';
                checkBox.id = element;
                checkBox.value = element;
                label.htmlFor = element;
                label.textContent = element;
                div.append(checkBox);
                div.append(label);
                timeTd.append(div);
            }
        })
        newTimeRow.append(course);
        newTimeRow.append(timeTd);
        timeTBody.append(newTimeRow);
        console.log(times);
    }
</script>
<%# <%= javascript_include_tag('student_application.js') %>
<h1>New Form</h1>


<%= button_to 'Exit', student_application_index_path%>

<form id="application">
    <div id="contact_info">
        <h2>Contact Information</h2>
        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="fname">
        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="lname">
    </div>
    <div id="academic_info">
        <h2>Academic Info</h2>
        <label for="gpa">Overall GPA:</label>
        <input type="text" id="gpa" name="gpa">
        <h3>Courses Completed</h3>
        <table>
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody id="course_list">
            </tbody>
        </table>
        <button type="button" id="add_courses" onclick="addCourse()">Add a Course</button>   
        <h3>Time Available</h3>
        <table>
            <thead>
                <tr>
                    <th>Course</th>
                </tr>
            </thead>
            <tbody id="available_time">
            </tbody>
        </table>
    </div>
    <div id="time_info">
    </div>
</form>



<%= button_to 'Submit Application', student_application_create_path%>