---
title: Members page of Michael D.Bond's research group
---
</br>
<h1 class="header">Members</h1>
<div class="content">
  <h2>Members</h2>
  <p>Current members:
  <ul>
    <li><a href="http://web.cse.ohio-state.edu/~mikebond/">Michael Bond</a> (faculty)
    <li>Kaan Genç  (PhD student)
    <li>Rui Zhang  (PhD candidate)
  </ul>
  Graduated Members, with positions as of 2019: 
  <ul>
    <li> Jake Roemer (PhD,2019) — seeking industry and industrial research jobs
    <li><a href="http://web.cse.ohio-state.edu/~cao.235/">Man Cao</a> (PhD, 2017) — Google 
    <li><a href="http://web.cse.ohio-state.edu/~sengupta.25/">Aritra Sengupta</a>  (PhD, 2017) — Samsung Research America
    <li><a href="https://www.cse.iitk.ac.in/users/swarnendu/">Swarnendu Biswas</a> (PhD, 2016) — IIT Kanpur (tenure-track faculty)
    <li><a href="http://zhangminjia.me/">Minja Zhang</a> (PhD, 2016) — Microsoft Research
    <li><a href="http://huangjip.github.io/">Jipeng Huang</a> (MS, 2014) — Google
  </ul>
  Primary external collaborators:
  <ul>
    <li><a href="https://engineering.purdue.edu/~milind/">Milind Kulkarni</a> (Purdue)
    <li><a href="https://brandonlucia.com/">Brandon Lucia</a> (CMU)
  </ul>
  </p>
  <p>
  We also collaborate or have collabborated with <a href="http://users.cecs.anu.edu.au/~steveb/">Steve Blackburn</a> (Australian National University), <a href="http://web.cs.ucla.edu/~harryxu/">Harry Xu</a> (UCLA), <a href="http://web.cse.ohio-state.edu/~zhang.834/">Yinquian Zhang</a> (Ohio State), <a href="https://cs.wellesley.edu/~bpw/">Ben Wood</a> (Wellesley), and <a href="https://homes.cs.washington.edu/~djg/">Dan Grossman</a> (U Washington).
  </p>
  </br>
  <img src="http://web.cse.ohio-state.edu/~mikebond/plass-may-2017.jpeg" alt="Aritra and Man's PHD Defense" height="200" width="100" class="center_image">
   </br>
  <p>
  Celebrating Aritra and Man's PhD defenses and graduations (May 2017)
  From left to right: Mike, Aritra, Man, Jake, Rui 
  </p>
  </br>
  <img src="http://web.cse.ohio-state.edu/~mikebond/plass-sept-2016.jpeg" alt="Minjia and Swarendu's PHD Defense" height="200" width="100" class="center_image">
  </br>
  Celebrating Minjia and Swarnendu's PhD defenses and graduations (Sept 2016)
  From left to right: Aritra, Man, Rui, Jake, Mike, Minjia, Swarnendu, [family member] 
  </br></br></br>
  <img src="http://web.cse.ohio-state.edu/~mikebond/plass-april-2016.jpeg" alt="Minjia's PHD defense" height="200" width="100" class="center_image">
  </br>
  After Minjia's PhD defense (April 2016)
  From left to right: Man, Aritra, Minjia, Mike, Rui 
  </br></br></br>
  <img src="http://web.cse.ohio-state.edu/~mikebond/hangouts-2013.jpeg" alt="EnfoRSer project" height="100" width="100" class="center_image">
  </br>
  <p>
  Collaborating on the EnfoRSer project on Google Hangouts (c. 2013)
  From left to right: Aritra, Mike, Milind Kulkarni
  <p>
  </p>
</div>


