---
title: MISC page of Michael D.Bond
---
</br>
<h1 class="header">Teaching, Activities, Awards, and Funding</h1>
<div class="content">
  <h2>Teaching</h2>
  <ul>
    <li>Spring 2020: CSE 6341: <a href=https://piazza.com/osu/spring2020/cse6341/home/>Foundations of Programming Languages</a>
    <li>Autumn 2019: CSE 5349: <a href=https://piazza.com/osu/autumn2019/cse5349/home/>Language and System Support for Non-Volatile/Persistent Memory</a>
    <li>Autumn 2019: CSE 6341: <a href=https://piazza.com/osu/autumn2019/cse6341/home/>Foundations of Programming Languages</a>
    <li>Autumn 2018 &ndash; Spring 2019: on sabbatical
    <li>Spring 2018: CSE 5349: <a href=https://piazza.com/osu/spring2018/cse5349/home>Program Analysis and Runtime Systems for Reliable, Scalable Parallelism</a>
    <li>Autumn 2017: CSE 3341: <a href=https://piazza.com/osu/autumn2017/cse3341/home>Principles of Programming Languages</a> (two sections)
    <li>Autumn 2017: CSE 6349: <a href=https://piazza.com/osu/autumn2017/cse6349/home>Program Analyses and Systems for Reliable Parallelism</a>
    <li>Autumn 2016: CSE 3341: Principles of Programming Languages (two sections)
    <li>Autumn 2015: CSE 3341: Principles of Programming Languages
    <li>Autumn 2015: CSE 5349: Parallelism in Modern Programming Language Implementations
    <li>Spring 2015: CSE 3341: Principles of Programming Languages
    <li>Autumn 2014: CSE 6341: <a href=6341/>Foundations of Programming Languages</a>
    <li>Spring 2014: CSE 5349: Dynamic Program Analysis and Runtime Systems for Reliable Concurrent Software
    <li>Autumn 2013: CSE 6341: Foundations of Programming Languages
    <li>Spring 2013: CSE 3341: Principles of Programming Languages
    <li>Autumn 2012: CSE 6341: Foundations of Programming Languages
    <li>Spring 2012: CSE 755: Programming Languages
    <li>Autumn 2011: CSE 788.07: Dynamic Program Analysis and Runtime Systems for Reliable Concurrent Software
    <li>Spring 2011: CSE 888.07: Algorithms and Implementation Strategies for Efficient Dynamic Analysis for Deployed Concurrent Software
    <li>Winter 2011: CSE 788.07: Dynamic Program Analysis for Reliable Concurrent Software
  </ul>

  <h2>Activities</h2>
  <h4>OOPSLA</h4>
  <ul>
    <li>2020 External Review Committee
    <li><a href=http://2017.splashcon.org/track/splash-2017-OOPSLA>2017</a> Artifact Evaluation Co-Chair
    <li><a href=http://2016.splashcon.org/track/splash-2016-oopsla>2016</a> Artifact Evaluation Co-Chair and External Program Committee
    <li><a href="http://splashcon.org/2012/cfp/378">2012</a> Program Committee
    <li><a href="http://www.splashcon.org/program/oopsla-research-papers">2010</a> Program Committee
  </ul>
  <h4>PLDI</h4>
  <ul>
    <li>2020 Program Committee
    <li>2018 External Review Committee
    <li>2017 External Program Committee
    <li><a href=http://conf.researchr.org/home/pldi2015>2015</a> External Review Committee
    <li><a href=http://conferences.inf.ed.ac.uk/pldi2014/>2014</a> External Review Committee
    <li><a href="http://pldi2013.ucombinator.org/">2013</a> Program Committee
    <li><a href="http://www.cs.wm.edu/~idillig/pldi13-src/">2013 Student Research Competition</a> Selection Committee
    <li><a href="http://pldi11.cs.utah.edu/">2011</a> External Review Committee
    <li><a href="http://www.cs.stanford.edu/pldi10/">2010</a> External Review Committee
  </ul>
  <h4>ASPLOS</h4>
  <ul>
    <li>2020 Program Committee
    <li>2019 Program Committee
    <li>2018 External Review Committee
    <li>2017 External Review Committee
    <li><a href="http://www.sigplan.org/Conferences/ASPLOS/">2016</a> External Review Committee
    <li><a href="http://www.cs.rice.edu/~vs3/asplos13">2013</a> External Review Committee
    <li><a href="http://research.microsoft.com/en-us/um/cambridge/events/asplos_2012/">2012</a> External Review Committee
  </ul>
  <h4>ISMM</h4>
  <ul>
    <li>2019, Program Committee
    <li>2017, External Review Committee
    <li><a href=http://conf.researchr.org/home/ismm-2015>2015</a> Program Committee Chair
    <li><a href=https://www.sigplan.org/Conferences/ISMM/>2015-2018</a> Steering Committee
    <li><a href=http://ismm2014.cs.tufts.edu/>2014</a> External Review Committee
    <li><a href="http://www.cs.technion.ac.il/~erez/ismm13/">2013</a> Program Committee
    <li><a href="http://www.hpl.hp.com/personal/Hans_Boehm/ismm11/">2011</a> Program Committee
    <li><a href="http://www.cs.purdue.edu/ISMM10/">2010</a> Review Committee
  </ul>
  <h4>PPoPP</h4>
  <ul>
    <li><a href="http://conf.researchr.org/home/PPoPP-2016">2016</a> Program Committee
    <li><a href=https://sites.google.com/site/ppopp2014/>2014</a> External Review Committee
  </ul>
  <p>
    <br><b>PACT</b>: 2017 External Review Committee
    <br><b>SPLASH</b>: <a href="http://splashcon.org/2011/cfp/103">2012</a> Doctoral Symposium Committee
    <br><b>TMC</b>: <a href="http://tmc.supertriceratops.com/">2011</a> Program Committee
    <br><b>VEE</b>: <a href="http://www.cs.technion.ac.il/~erez/vee11/">2011</a> Program Committee
    <br><b>IWMSE</b>: <a href="http://www.multicore-systems.org/iwmse2010">2010</a> Program Committee
    <br><b><a href="http://www.jikesrvm.org/ProjectOrganization/">Jikes RVM Team</a></b> 2007&ndash;present
  <br><br></p>

  <h2>Awards</h2>
  <ul>
    <li> Outstanding Teaching Award, Department of Computer Science and Engineering, Ohio State University (2018)
    <li> Lumley Research Award, College of Engineering, Ohio State University (2016)
    <li> OOPSLA 2015 Distinguished Paper Award
         (for <a href=papers.html#valor>Valor</a>)
    <li> OOPSLA 2015 Distinguished Artifact Award
         (for the <a href=papers.html#valor>Valor artifact</a>)
    <li> NSF CAREER Award
    <li> ACM SIGPLAN Outstanding Doctoral Dissertation Award (<a href="http://www.sigplan.org/Awards/Dissertation/2008">citation</a>)
    <li> Intel PhD Fellowship
    <li> "Most crazy idea" at Wild and Crazy Ideas (WACI) session at
         <a href=https://www.cs.kent.ac.uk/~rej/ismm2008>ISMM 2008</a>
    <li> Best student presenter at <a href="papers.html#tpp">CGO 2004</a>
  </ul>

  <h2>Funding</h2>
  <ul>
    <li> NSF <a href="http://nsf.gov/awardsearch/showAward?AWD_ID=1218695">CSR-1218695</a> (ended 2016)
    <li> NSF <a href="http://nsf.gov/awardsearch/showAward?AWD_ID=1253703">CAREER-1253703</a>
    <li> NSF <a href="http://nsf.gov/awardsearch/showAward?AWD_ID=1421612">CCF-1421612</a>
    <li> NSF <a href="http://nsf.gov/awardsearch/showAward?AWD_ID=1629126">XPS-1629126</a>
    <li> Google Cloud Platform Education Programs Team ($7,500 in Google Cloud Platform credits)
  </ul>

</div>
