---
title: MISC page of Michael D.Bond
---
</br>
<h1 class="header">Teaching, Activities, Awards, and Funding</h1>
<div class="content">
  <h3>Teaching</h3>
  <ul>
    <li>Spring 2020: CSE 6341: <a href=https://piazza.com/osu/spring2020/cse6341/home/>Foundations of Programming Languages</a>
    <li>Autumn 2019: CSE 5349: <a href=https://piazza.com/osu/autumn2019/cse5349/home/>Language and System Support for Non-Volatile/Persistent Memory</a>
    <li>Autumn 2019: CSE 6341: <a href=https://piazza.com/osu/autumn2019/cse6341/home/>Foundations of Programming Languages</a>
    <li>Autumn 2018 &ndash; Spring 2019: on sabbatical
    <li>Spring 2018: CSE 5349: <a href=https://piazza.com/osu/spring2018/cse5349/home>Program Analysis and Runtime Systems for Reliable, Scalable Parallelism</a>
    <li>Autumn 2017: CSE 3341: <a href=https://piazza.com/osu/autumn2017/cse3341/home>Principles of Programming Languages</a> (two sections)
    <li>Autumn 2017: CSE 6349: <a href=https://piazza.com/osu/autumn2017/cse6349/home>Program Analyses and Systems for Reliable Parallelism</a>
    <li>Autumn 2016: CSE 3341: Principles of Programming Languages (two sections)
    <li>Autumn 2015: CSE 3341: Principles of Programming Languages
    <li>Autumn 2015: CSE 5349: Parallelism in Modern Programming Language Implementations
    <li>Spring 2015: CSE 3341: Principles of Programming Languages
    <li>Autumn 2014: CSE 6341: <a href=6341/>Foundations of Programming Languages</a>
    <li>Spring 2014: CSE 5349: Dynamic Program Analysis and Runtime Systems for Reliable Concurrent Software
    <li>Autumn 2013: CSE 6341: Foundations of Programming Languages
    <li>Spring 2013: CSE 3341: Principles of Programming Languages
    <li>Autumn 2012: CSE 6341: Foundations of Programming Languages
    <li>Spring 2012: CSE 755: Programming Languages
    <li>Autumn 2011: CSE 788.07: Dynamic Program Analysis and Runtime Systems for Reliable Concurrent Software
    <li>Spring 2011: CSE 888.07: Algorithms and Implementation Strategies for Efficient Dynamic Analysis for Deployed Concurrent Software
    <li>Winter 2011: CSE 788.07: Dynamic Program Analysis for Reliable Concurrent Software
  </ul>

  <h3>Activities</h3>
  <ul>
    <li> External Review Committee, OOPSLA 2020
    <li> Program Committee, PLDI 2020
    <li> Program Committee, ASPLOS 2020
    <li> Program Committee, ASPLOS 2019
    <li> Program Committee, ISMM 2019
    <li> External Review Committee, PLDI 2018
    <li> External Review Committee, ASPLOS 2018
    <li> External Review Committee, PACT 2017
    <li> External Review Committee, ISMM 2017
    <li> External Review Committee, ASPLOS 2017
    <li> Artifact Evaluation Co-Chair, <a href=http://2017.splashcon.org/track/splash-2017-OOPSLA>OOPSLA 2017</a>
    <li> External Program Committee, PLDI 2017
    <li> Artifact Evaluation Co-Chair, <a href=http://2016.splashcon.org/track/splash-2016-oopsla>OOPSLA 2016</a>
    <li> External Program Committee, <a href=http://2016.splashcon.org/track/splash-2016-oopsla>OOPSLA 2016</a>
    <li> Program Committee, <a href="http://conf.researchr.org/home/PPoPP-2016">PPoPP 2016</a>
    <li> External Review Committee, <a href="http://www.sigplan.org/Conferences/ASPLOS/">ASPLOS 2016</a>
    <li> Program Committee Chair, <a href=http://conf.researchr.org/home/ismm-2015>ISMM 2015</a>
    <li> Steering Committee, <a href=https://www.sigplan.org/Conferences/ISMM/>ISMM</a>, 2015&ndash;2018
    <li> External Review Committee, <a href=http://conf.researchr.org/home/pldi2015>PLDI 2015</a>
    <li> External Review Committee, <a href=http://conferences.inf.ed.ac.uk/pldi2014/>PLDI 2014</a>
    <li> External Review Committee, <a href=http://ismm2014.cs.tufts.edu/>ISMM 2014</a>
    <li> External Review Committee, <a href=https://sites.google.com/site/ppopp2014/>PPoPP 2014</a>
    <li> Program Committee, <a href="http://pldi2013.ucombinator.org/">PLDI 2013</a>
    <li> Selection Committee, <a href="http://www.cs.wm.edu/~idillig/pldi13-src/">Student Research Competition</a>, PLDI 2013
    <li> Program Committee, <a href="http://www.cs.technion.ac.il/~erez/ismm13/">ISMM 2013</a>
    <li> External Review Committee, <a href="http://www.cs.rice.edu/~vs3/asplos13">ASPLOS 2013</a>
    <li> Program Committee, <a href="http://splashcon.org/2012/cfp/378">OOPSLA 2012</a>
    <li> External Review Committee, <a href="http://research.microsoft.com/en-us/um/cambridge/events/asplos_2012/">ASPLOS 2012</a>
    <li> Doctoral Symposium Committee, <a href="http://splashcon.org/2011/cfp/103">SPLASH 2012</a>
    <li> Program Committee, <a href="http://tmc.supertriceratops.com/">TMC 2011</a>
    <li> Program Committee, <a href="http://www.hpl.hp.com/personal/Hans_Boehm/ismm11/">ISMM 2011</a>
    <li> External Review Committee, <a href="http://pldi11.cs.utah.edu/">PLDI 2011</a>
    <li> Program Committee, <a href="http://www.cs.technion.ac.il/~erez/vee11/">VEE 2011</a>
    <li> Program Committee, <a href="http://www.splashcon.org/program/oopsla-research-papers">OOPSLA 2010</a>
    <li> External Review Committee, <a href="http://www.cs.stanford.edu/pldi10/">PLDI 2010</a>
    <li> Program Committee, <a href="http://www.multicore-systems.org/iwmse2010">IWMSE 2010</a>
    <li> Review Committee, <a href="http://www.cs.purdue.edu/ISMM10/">ISMM 2010</a>
    <li> <a href="http://www.jikesrvm.org/ProjectOrganization/">Jikes RVM Team</a>, 2007&ndash;present
  </ul>

  <h3>Awards</h3>
  <ul>
    <li> Outstanding Teaching Award, Department of Computer Science and Engineering, Ohio State University (2018)
    <li> Lumley Research Award, College of Engineering, Ohio State University (2016)
    <li> OOPSLA 2015 Distinguished Paper Award
         (for <a href=papers.html#valor>Valor</a>)
    <li> OOPSLA 2015 Distinguished Artifact Award
         (for the <a href=papers.html#valor>Valor artifact</a>)
    <li> NSF CAREER Award
    <li> ACM SIGPLAN Outstanding Doctoral Dissertation Award (<a href="http://www.sigplan.org/Awards/Dissertation/2008">citation</a>)
    <li> Intel PhD Fellowship
    <li> "Most crazy idea" at Wild and Crazy Ideas (WACI) session at
         <a href=https://www.cs.kent.ac.uk/~rej/ismm2008>ISMM 2008</a>
    <li> Best student presenter at <a href="papers.html#tpp">CGO 2004</a>
  </ul>

  <h3>Funding</h3>
  <ul>
    <li> NSF <a href="http://nsf.gov/awardsearch/showAward?AWD_ID=1218695">CSR-1218695</a> (ended 2016)
    <li> NSF <a href="http://nsf.gov/awardsearch/showAward?AWD_ID=1253703">CAREER-1253703</a>
    <li> NSF <a href="http://nsf.gov/awardsearch/showAward?AWD_ID=1421612">CCF-1421612</a>
    <li> NSF <a href="http://nsf.gov/awardsearch/showAward?AWD_ID=1629126">XPS-1629126</a>
    <li> Google Cloud Platform Education Programs Team ($7,500 in Google Cloud Platform credits)
  </ul>

</div>
