---
title: News page of Michael D.Bond
---

</br>
<h1 class="header">NEWS</h1>
<div class="content">
	<p>Rui Zhang's paper on <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#peacenik">
	Peacenik: architecture support for not failing under fail-stop memory consistency
	</a> will appear at ASPLOS 2020!
	</br></br>
	Jake Roemer defended his PhD thesis in April and graduated in August 2019! 
	He's seeking industry and industrial research jobs.
	</br></br>
	Kaan Genç's paper on <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#depaware">
	dependence-aware predictive race detection</a> appeared at OOPSLA 2019!
	</br></br>
	Swarnendu Biswas's paper on <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#arc">
	ARC: rethinking support for region conflict exceptions</a> appeared at IDPS 2019!
	</p>
</div>
