---
title: Publication Page of Dr. Mike Bond
---

</br>
<h1 class="header">PUBLICATIONS</h1>
<div class="content">
  <h2>"Publication of " <a href="http://web.cse.ohio-state.edu/~mikebond/plass.html">PLaSS</a> " and Mike Bond"</h2>
  <h3>Recent Manuscripts</h3>
  <table  style="width:100%" border="1">
    <tbody>
    <tr>
      <th>Publication Number</th>
      <th>Publication Name</th>
      <th>Publication Author</th>
      <th>Notes</th>
    </tr>

    <tr>
      <td>arXiv (2019)</td>
      <td> <a href="https://arxiv.org/abs/1905.00494">Practical Predictive Race Detection</a></td>
      <td>Jake Roemer, Kaan Genç, and Michael D. Bond</td>
      <td>In submission or in preparation for submission</td>
    </tr>

    <tr>
      <td>arXiv (2019)</td>
      <td><a href="https://arxiv.org/abs/1907.08337"> Online Set-Based Dynamic Analysis for Sound Predictive Race Detection</a> </td>
      <td>Jake Roemer and Michael D. Bond</td>
      <td>Final version of a 2016 <a href = "https://web.cse.ohio-state.edu/oportal/tech_reports?utf8=%E2%9C%93&per_page=50&year=2016&title=&authors=roemer&commit=Filter">technical report</a></td>
    </tr>
    </tbody>
  </table>

  <h3>Refereed Publications</h3>
  <table style="width:100%" border="1">
    <tbody>
    <tr>
      <th>Publication Number</th>
      <th>Publication Name</th>
      <th>Publication Author</th>
      <th>Paper Link</th>
      <th>Source Code Link</th>
      <th>Notes</th>
    </tr>

    <tr>
      <td>ASPLOS 2020</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#peacenik">Peacenik: Architecture Support for Not Failing under Fail-Stop Memory Consistency</a></td>
      <td>Rui Zhang, Swarnendu Biswas, Vignesh Balaji, Michael D. Bond, and Brandon Lucia</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/peacenik-asplos-2020.pdf">Paper</a></td>
      <td><a href="https://github.com/PLaSSticity/peacenik-simulators-asplos20">Source Code</a></td>
      <td>No Notes</td>
    </tr>

    <tr>
      <td>OOPSLA 2019</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#depaware">  Dependence-Aware, Unbounded Sound Predictive Race Detection</a></td>
      <td>Kaan Genç, Jake Roemer, Yufan Xu, and Michael D. Bond</td>
      <td><a href="https://arxiv.org/pdf/1904.13088.pdf">Extended Version</a></td>
      <td><a href="https://github.com/PLaSSticity/SDP-WDP-implementation">Source Code</a></td>
      <td><a href="https://docs.google.com/presentation/d/1nf4ujFVRNpvapidNXi0ruCaXp4XAz9BHkJyMY1PMoeU/">Talk (by Kaan Genç)</a></td>
    </tr>


    <tr>
      <td>IPDPS 2019</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#arc"> Rethinking Support for Region Conflict Exceptions</a></td>
      <td>Swarnendu Biswas, Rui Zhang, Michael D. Bond, and Brandon Lucia</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/arc-ipdps-2019.pdf">Paper</a></td>
      <td><a href="https://github.com/PLaSSticity/ce-arc-simulator-ipdps19">Source Code</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/arc-ipdps-2019-talk.pdf">Talk (by Swarnendu Biswas)</a></td>
    </tr>



    <tr>
      <td>PLDI 2018</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#vindicator"> High-Coverage, Unbounded Sound Predictive Race Detection</a></td>
      <td>Jake Roemer, Kaan Genç, and Michael D. Bond</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/vindicator-pldi-2018-xtr.pdf">Extended Technical Report</a></td>
      <td><a href="https://github.com/PLaSSticity/Vindicator">Source Code</a></td>
      <td><a href="https://docs.google.com/presentation/d/1fzuHhz5xWKC9zQd-SrEf_T914HYjxbSSJxWtbGrsJj8/">Talk (by Jake Roemer)</a></td>

    </tr>


    <tr>
      <td>OOPSLA 2017</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#fib">Instrumentation Bias for Dynamic Data Race Detection</a></td>
      <td>Benjamin P. Wood, Man Cao, Michael D. Bond, and Dan Grossman</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/fib-oopsla-2017.pdf">Paper</a></td>
      <td><a href="https://bitbucket.org/bpw/fib">Source Code</a></td>
      <td>No Notes</td>

    </tr>


    <tr>
      <td>TOPC (2017)</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#hybrid-relaxed-tracking-topc"> Hybridizing and Relaxing Dependence Tracking for Efficient Parallel Runtime Support</a></td>
      <td>Man Cao, Minjia Zhang, Aritra Sengupta, Swarnendu Biswas, and Michael D. Bond</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/hybrid-relaxed-tracking-topc-2017.pdf">Paper</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#hybrid-tracking">Source Code (Hybrid Tracking)</a></td>
      <td>No Notes</td>

    </tr>

    <tr>
      <td>ISMM 2017</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#avalon"> Avoiding Consistency Exceptions Under Strong Memory Models</a></td>
      <td>Minjia Zhang, Swarnendu Biswas, and Michael D. Bond</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/avalon-ismm-2017.pdf">Paper</a></td>
      <td><a href="http://sourceforge.net/p/jikesrvm/research-archive/57/">Source Code</a></td>
      <td><a href="https://docs.google.com/presentation/d/14bbRjLoKRvyjhOLJCDJySYVl_I9NFuCX7ubtLVQ_RGo/edit?usp=sharing">Talk</a></td>

    </tr>

    <tr>
      <td>CGO 2017</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#legato"> Legato: End-to-End Bounded Region Serializability Using Commodity Hardware Transactional Memory</a></td>
      <td>Aritra Sengupta, Man Cao, Michael D. Bond, and Milind Kulkarni</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/legato-cgo-2017-xtr.pdf">Extended Technical Report</a></td>
      <td><a href="https://sourceforge.net/p/jikesrvm/research-archive/56/">Source Code</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/legato-cgo-2017-talk.pdf">Talk (by Aritra Sengupta)</a></td>


    </tr>


    <tr>
      <td>CC 2017</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#racechaser-caper"> Lightweight Data Race Detection for Production Runs</a></td>
      <td>Swarnendu Biswas, Man Cao, Minjia Zhang, Michael D. Bond, and Benjamin P. Wood</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/racechaser-caper-cc-2017.pdf">Paper</a></td>
      <td><a href="https://sourceforge.net/p/jikesrvm/research-archive/55/">Source Code</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/racechaser-caper-cc-2017-talk.pdf">Talk (by Swarnendu Biswas)</a></td>
    </tr>

    <tr>
      <td>ISMM 2016</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#prescient-memory"> Prescient Memory: Exposing Weak Memory Model Behavior by Looking into the Future</a></td>
      <td>Man Cao, Jake Roemer, Aritra Sengupta, and Michael D. Bond</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/prescient-memory-ismm-2016.pdf">Paper</a></td>
      <td><a href="http://sourceforge.net/p/jikesrvm/research-archive/54/">Source Code</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/prescient-memory-ismm-2016-talk.pdf">Talk (by Man Cao)</a></td>

    </tr>


    <tr>
      <td>CC 2016</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#relaxed-tracking"> Relaxed Dependence Tracking for Parallel Runtime Support</a></td>
      <td>Minjia Zhang, Swarnendu Biswas, and Michael D. Bond</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/relaxed-tracking-cc-2016.pdf">Paper</a></td>
      <td><a href="http://sourceforge.net/p/jikesrvm/research-archive/53/">Source Code</a></td>
      <td><a href="https://docs.google.com/presentation/d/1qCfIdbQ1n11LOmlujbwmvvXEyYtscfgRNSA_7jwQrrY/edit?usp=sharing">Talk</a></td>

    </tr>

    <tr>
      <td>PPoPP 2016</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#hybrid-tracking"> Drinking from Both Glasses: Combining Pessimistic and Optimistic Tracking of Cross-Thread Dependences</a></td>
      <td>Man Cao, Minjia Zhang, Aritra Sengupta, and Michael D. Bond</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/hybrid-tracking-ppopp-2016.pdf">Paper</a></td>
      <td><a href="http://sourceforge.net/p/jikesrvm/research-archive/52/">Source Code</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/hybrid-tracking-ppopp-2016-talk.pdf">Talk (by Man Cao)</a></td>

    </tr>


    <tr>
      <td>OOPSLA 2015</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#valor"> Valor: Efficient, Software-Only Region Conflict Exceptions</a></td>
      <td>Swarnendu Biswas, Minjia Zhang, Michael D. Bond, and Brandon Lucia</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/valor-oopsla-2015.pdf">Paper</a></td>
      <td><a href="http://sourceforge.net/p/jikesrvm/research-archive/51/">Source Code</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/valor-oopsla-2015-talk.pdf">Talk (by Swarnendu Biswas)</a></td>

    </tr>


    <tr>
      <td>PPPJ 2015</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#replay"> Efficient Deterministic Replay of Multithreaded Executions in a Managed Language Virtual Machine</a></td>
      <td>Michael D. Bond, Milind Kulkarni, Man Cao, Meisam Fathi Salmi, and Jipeng Huang</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/replay-pppj-2015.pdf">Paper</a></td>
      <td><a href="http://sourceforge.net/p/jikesrvm/research-archive/49/">Source Code</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/replay-pppj-2015-talk.pdf">Talk (by Man Cao))</a></td>

    </tr>


    <tr>
      <td>PPPJ 2015</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#hybrid-enforser"> Toward Efficient Strong Memory Model Support for the Java Platform via Hybrid Synchronization</a></td>
      <td>Aritra Sengupta, Man Cao, Michael D. Bond, and Milind Kulkarni</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/hybrid-EnfoRSer-pppj-2015.pdf">Paper</a></td>
      <td><a href="http://sourceforge.net/p/jikesrvm/research-archive/50/">Source Code</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/hybrid-EnfoRSer-pppj-2015-talk.pdf">Talk (by Aritra Sengupta)</a></td>

    </tr>



    <tr>
      <td>ASPLOS 2015</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#enforser"> Hybrid Static–Dynamic Analysis for Statically Bounded Region Serializability</a></td>
      <td>Aritra Sengupta, Swarnendu Biswas, Minjia Zhang, Michael D. Bond, and Milind Kulkarni</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/EnfoRSer-asplos-2015-xtr.pdf">Paper</a></td>
      <td><a href="http://sourceforge.net/p/jikesrvm/research-archive/48/">Source Code</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/EnfoRSer-asplos-2015-talk.pdf">Talk (by Aritra Sengupta)</a></td>

    </tr>



    <tr>
      <td>PPoPP 2015  </td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#larktm"> Low-Overhead Software Transactional Memory with Progress Guarantees and Strong Semantics</a></td>
      <td>Minjia Zhang, Jipeng Huang, Man Cao, and Michael D. Bond</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/larktm-ppopp-2015.pdf">Paper</a></td>
      <td><a href="http://www.jikesrvm.org/Resources/ResearchArchive/">Source Code</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/larktm-ppopp-2015-talk.pdf">Talk (by Minjia Zhang)</a></td>

    </tr>


    <tr>
      <td>PLDI 2014</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#doublechecker"> DoubleChecker: Efficient Sound and Precise Atomicity Checking</a></td>
      <td>Swarnendu Biswas, Jipeng Huang, Aritra Sengupta, and Michael D. Bond</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/doublechecker-pldi-2014.pdf">Paper</a></td>
      <td><a href="http://sourceforge.net/p/jikesrvm/research-archive/45/">Source Code</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/doublechecker-pldi-2014-talk.pdf">Talk (by Swarnendu Biswas)</a></td>

    </tr>


    <tr>
      <td>TOPLAS (2014)</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#laminar-toplas"> Practical Fine-Grained Information Flow Control Using Laminar</a></td>
      <td>Donald E. Porter, Michael D. Bond, Indrajit Roy, Kathryn S. McKinley, and Emmett Witchel</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/laminar-toplas-2014.pdf">Paper</a></td>
      <td><a href="http://sourceforge.net/p/jikesrvm/research-archive/26/">Source Code</a></td>
      <td>No Talks</td>

    </tr>




    <tr>
      <td>WoDet 2014</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#adaptive-sync"> Drinking from Both Glasses: Adaptively Combining Pessimistic and Optimistic Synchronization for Efficient Parallel Runtime Support</a></td>
      <td>Man Cao, Minjia Zhang, and Michael D. Bond</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#hybrid-tracking">Paper</a></td>
      <td>No Source Code</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/adaptive-sync-wodet-2014-talk.pdf">Talk (by Man Cao)</a></td>


    </tr>




    <tr>
      <td>OOPSLA 2013</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#octet"> Octet: Capturing and Controlling Cross-Thread Dependences Efficiently</a></td>
      <td>Michael D. Bond, Milind Kulkarni, Man Cao, Minjia Zhang, Meisam Fathi Salmi, Swarnendu Biswas, Aritra Sengupta, and Jipeng Huang</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/octet-oopsla-2013.pdf">Paper</a></td>
      <td><a href="https://sourceforge.net/p/jikesrvm/research-archive/43/">Source Code</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/octet-oopsla-2013-talk.pdf">Talk</a></td>

    </tr>




    <tr>
      <td>OOPSLA 2013</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#ccu"> Efficient Context Sensitivity for Dynamic Analyses via Calling Context Uptrees and Customized Memory Management</a></td>
      <td>Jipeng Huang and Michael D. Bond</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/ccu-oopsla-2013.pdf">Paper</a></td>
      <td><a href="https://sourceforge.net/p/jikesrvm/research-archive/44/">Source Code</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/ccu-oopsla-2013-talk.pptx">Talk (by Jipeng Huang)</a></td>

    </tr>

    <tr>
      <td>PLDI 2011</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#leak-chaser"> LeakChaser: Helping Programmers Narrow Down Causes of Memory Leaks</a></td>
      <td>Guoqing "Harry" Xu, Michael D. Bond, Feng Qin, and Atanas Rountev</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/leakchaser-pldi-2011.pdf">Paper</a></td>
      <td><a href="https://sourceforge.net/p/jikesrvm/research-archive/37/">Source Code</a></td>
      <td>No Notes</td>

    </tr>



    <tr>
      <td>PLDI 2011</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#security-policy-oracle"> A Security Policy Oracle: Detecting Security Holes Using Multiple API Implementations</a></td>
      <td>Varun Srivastava, Michael D. Bond, Kathryn S. McKinley, and Vitaly Shmatikov</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/security-policy-oracle-pldi-2011.pdf">Paper</a></td>
      <td>No Source Code</td>
      <td>No Notes</td>

    </tr>

    <tr>
      <td>PLDI 2010</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#leak-chaser"> LeakChaser: Helping Programmers Narrow Down Causes of Memory Leaks</a></td>
      <td>Guoqing "Harry" Xu, Michael D. Bond, Feng Qin, and Atanas Rountev</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/leakchaser-pldi-2011.pdf">Paper</a></td>
      <td><a href="https://sourceforge.net/p/jikesrvm/research-archive/37/">Source Code</a></td>
      <td>No Notes</td>

    </tr>

    <tr>
      <td>PLDI 2010</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#pacer"> Pacer: Proportional Detection of Data Races</a></td>
      <td>Michael D. Bond, Katherine E. Coons, and Kathryn S. McKinley</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/pacer-pldi-2010.pdf">Paper</a></td>
      <td><a href="https://sourceforge.net/p/jikesrvm/research-archive/28/">Source Code</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/pacer-pldi-2010-talk.pptx">Talk</a></td>

    </tr>

    <tr>
      <td>PLDI 2010</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#breadcrumbs"> Breadcrumbs: Efficient Context Sensitivity for Dynamic Bug Detection Analyses</a></td>
      <td>Michael D. Bond, Graham Z. Baker, and Samuel Z. Guyer</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/breadcrumbs-pldi-2010.pdf">Paper</a></td>
      <td><a href="https://sourceforge.net/p/jikesrvm/research-archive/29/">Source Code</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/breadcrumbs-pldi-2010-talk.pptx">Talk (by Sam Guyer)</a></td>

    </tr>

    <tr>
      <td>PLAS 2010</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#pecan"> Efficient, Context-Sensitive Detection of Real-World Semantic Attacks</a></td>
      <td>Michael D. Bond, Varun Srivastava, Kathryn S. McKinley, and Vitaly Shmatikov</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/pecan-plas-2010.pdf">Paper</a></td>
      <td><a href="https://sourceforge.net/p/jikesrvm/research-archive/30/">Source Code</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/pecan-plas-2010-talk.pptx">Talk</a></td>

    </tr>

    <tr>
      <td>ASPLOS 2009 </td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#leak-pruning"> Leak Pruning</a></td>
      <td>Michael D. Bond and Kathryn S. McKinley</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/leak-pruning-asplos-2009.pdf">Paper</a></td>
      <td><a href="http://sourceforge.net/p/jikesrvm/research-archive/24/">Source Code</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/leak-pruning-asplos-2009-talk.pptx">Talk</a></td>

    </tr>

    <tr>
      <td>PLDI 2009</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#laminar"> Laminar: Practical Fine-Grained Decentralized Information Flow Control</a></td>
      <td>Indrajit Roy, Donald E. Porter, Michael D. Bond, Kathryn S. McKinley, and Emmett Witchel</td>
      <td><a href="hhttp://web.cse.ohio-state.edu/~mikebond/laminar-pldi-2009.pdf">Paper</a></td>
      <td><a href="hhttp://sourceforge.net/p/jikesrvm/research-archive/26/">Source Code</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/laminar-pldi-2009-talk.pptx">Talk (by Indrajit Roy)</a></td>

    </tr>


    <tr>
      <td>OOPSLA 2008</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#melt"> Tolerating Memory Leaks</a></td>
      <td>Michael D. Bond and Kathryn S. McKinley</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/melt-oopsla-2008.pdf">Paper</a></td>
      <td><a href="http://sourceforge.net/p/jikesrvm/research-archive/23/">Source Code</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/melt-oopsla-2008-talk.pptx">Talk</a></td>

    </tr>


    <tr>
      <td>OOPSLA 2007</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#pcc"> Probabilistic Calling Context</a></td>
      <td>Michael D. Bond and Kathryn S. McKinley</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/pcc-oopsla-2007.pdf">Paper</a></td>
      <td><a href="http://sourceforge.net/p/jikesrvm/research-archive/18/">Source Code</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/pcc-oopsla-2007-talk.pdf">Talk</a></td>

    </tr>


    <tr>
      <td>OOPSLA 2007 </td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#origin-tracking"> Tracking Bad Apples: Reporting the Origin of Null and Undefined Value Errors</a></td>
      <td>Michael D. Bond, Nicholas Nethercote, Stephen W. Kent, Samuel Z. Guyer, and Kathryn S. McKinley</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/origin-tracking-oopsla-2007.pdf">Paper</a></td>
      <td><a href="hhttp://sourceforge.net/p/jikesrvm/research-archive/19/">Source Code</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/origin-tracking-oopsla-2007-talk.pdf">Talk</a></td>

    </tr>


    <tr>
      <td>CC 2007</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#cgc"> Correcting the Dynamic Call Graph Using Control Flow Constraints</a></td>
      <td>Byeongcheol Lee, Kevin Resnick, Michael D. Bond, and Kathryn S. McKinley</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/cgc-cc-2007.pdf">Paper</a></td>
      <td><a href="http://sourceforge.net/p/jikesrvm/research-archive/20/">Source Code</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/cgc-cc-2007-talk.ppt">Talk (by Byeongcheol Lee)</a></td>

    </tr>


    <tr>
      <td>ASPLOS 2006</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#bell"> Bell: Bit-Encoding Online Memory Leak Detection</a></td>
      <td>Michael D. Bond and Kathryn S. McKinley</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/bell-asplos-2006.pdf">Paper</a></td>
      <td><a href="http://sourceforge.net/p/jikesrvm/research-archive/7/">Source Code</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/bell-asplos-2006-talk.pdf">Talk</a></td>

    </tr>

    <tr>
      <td>MICRO 2005</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#pep"> Continuous Path and Edge Profiling</a></td>
      <td>Michael D. Bond and Kathryn S. McKinley</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/pep-micro-2005.pdf">Paper</a></td>
      <td><a href="http://sourceforge.net/p/jikesrvm/research-archive/8/">Source Code</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/pep-micro-2005-talk.pdf">Talk</a></td>

    </tr>

    <tr>
      <td>CGO 2005</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#ppp"> Practical Path Profiling for Dynamic Optimizers</a></td>
      <td>Michael D. Bond and Kathryn S. McKinley</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/ppp-cgo-2005.pdf">Paper</a></td>
      <td><a href="http://www.cs.utexas.edu/users/cart/Scale/">Source Code</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/ppp-cgo-2005-talk.pdf">Talk</a></td>

    </tr>

    <tr>
      <td>CGO 2004</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#tpp"> Targeted Path Profiling: Lower Overhead Path Profiling for Staged Dynamic Optimization Systems</a></td>
      <td>Rahul Joshi, Michael D. Bond, and Craig Zilles</td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/tpp-cgo-2004.pdf">Paper</a></td>
      <td><a href="http://www.cs.utexas.edu/users/cart/Scale/">Source Code</a></td>
      <td><a href="http://web.cse.ohio-state.edu/~mikebond/tpp-cgo-2004-talk.pdf">Talk</a></td>

    </tr>

    </tbody>

  </table>


  <h3>Dissertations and Theses</h3>
  <table style="width:100%" border="1">
    <tbody>
    <tr>
      <th>Publication Number</th>
      <th>Publication Name</th>
      <th>Publication Author</th>
      <th>Notes</th>
    </tr>

    <tr>
      <td>PhD dissertation (2019)</td>
      <td> <a href="http://rave.ohiolink.edu/etdc/view?acc_num=osu1563505463237874"> Practical High-Coverage Sound Predictive Race Detection</a></td>
      <td>Jake Roemer</td>
      <td></td>
    </tr>

    <tr>
      <td>PhD dissertation (2017)</td>
      <td> <a href="http://rave.ohiolink.edu/etdc/view?acc_num=osu1492703503634986"> Efficient, Practical Dynamic Program Analyses for Concurrency Correctness</a></td>
      <td>Man Cao</td>
      <td></td>
    </tr>

    <tr>
      <td>PhD dissertation (2017)</td>
      <td> <a href="http://rave.ohiolink.edu/etdc/view?acc_num=osu149269601946527"> Efficient Compiler and Runtime Support for Serializability and Strong Semantics on Commodity Hardware</a></td>
      <td>Aritra Sengupta</td>
      <td></td>
    </tr>

    <tr>
      <td>PhD dissertation (2016)</td>
      <td> <a href="http://rave.ohiolink.edu/etdc/view?acc_num=osu1470957618"> Practical Support for Strong, Serializability-Based Memory Consistency</a></td>
      <td>Swarnendu Biswas</td>
      <td></td>
    </tr>

    <tr>
      <td>PhD dissertation (2016)</td>
      <td> <a href="http://rave.ohiolink.edu/etdc/view?acc_num=osu1469557197"> Efficient Runtime Support for Reliable and Scalable Parallelism</a></td>
      <td>Minjia Zhang</td>
      <td></td>
    </tr>


    <tr>
      <td>PhD dissertation (2014)</td>
      <td> <a href="http://rave.ohiolink.edu/etdc/view?acc_num=osu1397231571"> Efficient Context Sensitivity for Dynamic Analyses via Calling Context Uptrees and Customized Memory Management</a></td>
      <td>Jipeng Huang</td>
      <td></td>
    </tr>


    <tr>
      <td>PhD dissertation (2008)</td>
      <td> <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#thesis"> Diagnosing and Tolerating Bugs in Deployed Systems</a></td>
      <td>Michael David Bond</td>
      <td></td>
    </tr>
    </tbody>
  </table>


</div>


