---
title: Research page of Michael D.Bond
---
</br>
<h1 >RESEARCH</h1>
<p>My <span class="page"><a href="http://web.cse.ohio-state.edu/~mikebond/plass.html">research group</a></span> 
develops program analyses and software systems that make complex, 
concurrent software significantly more reliable, scalable, and secure than it is today.
General interests: programming languages, software and hardware systems, program analysis, 
compilers, security</p>