---
title: Research page of Michael D.Bond
---
</br>
<h1 class="header">RESEARCH</h1>
<div class="content">
    <p>My <a href="http://web.cse.ohio-state.edu/~mikebond/plass.html">research group</a>
    develops program analyses and software systems that make complex, 
    concurrent software significantly more reliable, scalable, and secure than it is today.
    General interests: programming languages, software and hardware systems, program analysis, 
    compilers, security
    </br></br>
    General interests: programming languages, software and hardware systems, program analysis, compilers, security
    </br></br>
    <a href="http://web.cse.ohio-state.edu/~mikebond/pubs.html">Publications</a>
    </br></br>
    <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html">Publicly available research software</a>
    (see "Source code" for each paper)
    </br></br>
    Current advisees:
    </br>
    <ul>
        <li>Kaan Genç  (PhD student)</li>
        <li>Rui Zhang  (PhD candidate)</li>
    </ul>
    Graduated advisees, with positions as of 2019:
    </br>
    <ul>
        <li>Jake Roemer  (PhD, 2019) — seeking industry and industrial research jobs</li>
        <li><a href="http://www.cse.ohio-state.edu/~caoma/">Man Cao  (PhD, 2017) — Google</a></li>
        <li><a href="http://www.cse.ohio-state.edu/~sengupta/">Aritra Sengupta  (PhD, 2017) — Samsung Research America</a></li>
        <li><a href="https://www.cse.iitk.ac.in/users/swarnendu/">Swarnendu Biswas  (PhD, 2016) — IIT Kanpur (tenure-track faculty)</a></li>
        <li><a href="http://zhangminjia.me/">Minjia Zhang  (PhD, 2016) — Microsoft Research</a></li>
        <li><a href="http://huangjip.github.io/">Jipeng Huang  (MS, 2014) — Google</a></li>
    </ul>
    </p>
</div>
