---
title: Teaching page of Michael D.Bond
---
</br>
<h1 class="header">TEACHING</h1>
<div class="content">
  <h2>Teaching</h2>
  <ul>
    <li>Spring 2020: CSE 6341: <a href=https://piazza.com/osu/spring2020/cse6341/home/>Foundations of Programming Languages</a>
    <li>Autumn 2019: CSE 5349: <a href=https://piazza.com/osu/autumn2019/cse5349/home/>Language and System Support for Non-Volatile/Persistent Memory</a>
    <li>Autumn 2019: CSE 6341: <a href=https://piazza.com/osu/autumn2019/cse6341/home/>Foundations of Programming Languages</a>
    <li>Autumn 2018 &ndash; Spring 2019: on sabbatical
    <li>Spring 2018: CSE 5349: <a href=https://piazza.com/osu/spring2018/cse5349/home>Program Analysis and Runtime Systems for Reliable, Scalable Parallelism</a>
    <li>Autumn 2017: CSE 3341: <a href=https://piazza.com/osu/autumn2017/cse3341/home>Principles of Programming Languages</a> (two sections)
    <li>Autumn 2017: CSE 6349: <a href=https://piazza.com/osu/autumn2017/cse6349/home>Program Analyses and Systems for Reliable Parallelism</a>
    <li>Autumn 2016: CSE 3341: Principles of Programming Languages (two sections)
    <li>Autumn 2015: CSE 3341: Principles of Programming Languages
    <li>Autumn 2015: CSE 5349: Parallelism in Modern Programming Language Implementations
    <li>Spring 2015: CSE 3341: Principles of Programming Languages
    <li>Autumn 2014: CSE 6341: <a href=6341/>Foundations of Programming Languages</a>
    <li>Spring 2014: CSE 5349: Dynamic Program Analysis and Runtime Systems for Reliable Concurrent Software
    <li>Autumn 2013: CSE 6341: Foundations of Programming Languages
    <li>Spring 2013: CSE 3341: Principles of Programming Languages
    <li>Autumn 2012: CSE 6341: Foundations of Programming Languages
    <li>Spring 2012: CSE 755: Programming Languages
    <li>Autumn 2011: CSE 788.07: Dynamic Program Analysis and Runtime Systems for Reliable Concurrent Software
    <li>Spring 2011: CSE 888.07: Algorithms and Implementation Strategies for Efficient Dynamic Analysis for Deployed Concurrent Software
    <li>Winter 2011: CSE 788.07: Dynamic Program Analysis for Reliable Concurrent Software
  </ul>

</div>
