// Place all the styles related to the Configuration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#criteria input {
  margin-bottom: 8px;
}

.block {
  display: inline-block;
  margin-right: 16px;
}

.button {
  display: inline-block;
  margin-right: 4px;
}

#submit {
  display: inline-block;
}

#alert {
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
  color: red;
}

#notice {
  font-style: italic;
  font-size: 14px;
  color: green;
}
