// Place all the styles related to the Menu controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#buttons input {
  width: 160px;
}

.button_to {
  padding-bottom: 4px;
}
