// Place all the styles related to the StudentApplication controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#application {}

#contact_info {
    padding-bottom: 30px;
}

#submit_button {
    padding-top: 30px;
}

#notice {
    color: green;
}

#alert {
    color: red;
}