/* Created by Jack Thompson 3/3/2020 */

body {
  font-family: sans-serif;
}

.title {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 150px;
  margin: auto;
}

.buttons button {
  margin: 8px 0px;
}

#main_content {
  height: 500px;
  width: 800px;
  margin: auto;
}

.view {
 margin: 15px;
 width: 100%;
 height: 100%;
 display: none;
}

#grid_container {
  display: grid;
  height: 400px;
  width: 700px;
  grid-template-columns: auto auto auto auto;
  background-color: #b0b0b0;
  padding: 5px;
  margin: auto;
}

.grid_card {
  background-color: #d1ffba;
  margin: 5px;
  text-align: center;
  padding: 20px;
}
