<footer>
  <hr>
  <p>
    Michael D. Bond<br/><br/>
    Associate Professor<br/>
    Computer Science & Engineering<br/>
    Ohio State University<br/><br/>
    mikebond@cse.ohio-state.edu<br/><br/>
    697 Dreese Labs<br/><br/>
  </p>
</footer>
