<footer>
  <hr>
  <p>Michael D. Bond</p>
  <br>
  <p>Associate Professor</p>
  <p><a href="https://cse.osu.edu/">Computer Science & Engineering</a></p>
  <p><a href="https://www.osu.edu/"> Ohio State University</a></p>
  <br>
  <p>mikebond@cse.ohio-state.edu</p>
  <br>
  <p>697 Dreese Labs</p>
</footer>