<footer>
  <hr>
  <p>
    Michael D. Bond &emsp; - &emsp;
    Associate Professor at The Ohio State University &emsp; - &emsp;
    <a href="mailto:mikebond@cse.ohio-state.edu">mikebond@cse.ohio-state.edu</a> &emsp; - &emsp;
    697 Dreese Labs
  </p>
</footer>

