<footer>
  <hr>
  <p>Michael D. Bond</p>
  <br>
  <p>Associate Professor</p>
  <p>Computer Science & Engineering</p>
  <p>Ohio State University</p>
  <br>
  <p>mikebond@cse.ohio-state.edu</p>
  <br>
  <p>697 Dreese Labs</p>
</footer>