<footer>
  <hr>
  <p>
    Michael D. Bond &emsp; - &emsp; Associate Professor &emsp; - &emsp; The Ohio State University &emsp; - &emsp; mikebond@cse.ohio-state.edu &emsp; - &emsp; 697 Dreese Labs
  </p>
</footer>
