// Place all the styles related to the data_scraper controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {

  background: linear-gradient(to right, rgb(202, 104, 112), rgb(193,80,90));
}

table, th,td{
  border: 1px solid black;
  background-color: white;
}