---
title: Home page of Michael D.Bond
---

<div class="home_layout">
  <h2 class="home_header">HOME PAGE OF MICHAEL D. BOND</h2>
  <div class="home_img">
    <img src="http://web.cse.ohio-state.edu/~bond.213/assist.jpeg" alt="Michael D. Bond and Dog" class="profile_image">
  </div>
  <div class="home_content">
    <p>Currently teaching CSE 6341 (Spring 2020): <a href=https://piazza.com/osu/spring2020/cse6341/home/>Foundations of Programming Languages</a>
    <br/><br/>
    <b>Major recent/upcoming activities:</b>
      <ul>
        <li>Program committee, PLDI 2020
        <li>Program committee, ASPLOS 2020
        <li>Program committee, ASPLOS 2019
        <li>Program committee, ISMM 2019
      </ul>

    <b>News:</b>

      <ul>
        <li>Rui Zhang's paper on <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#peacenik">
	  Peacenik: architecture support for not failing under fail-stop memory consistency
	  </a> will appear at ASPLOS 2020!
	      <li>Jake Roemer defended his PhD thesis in April and graduated in August 2019!
	  He's seeking industry and industrial research jobs.
	      <li>Kaan Genç's paper on <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#depaware">
	dependence-aware predictive race detection</a> appeared at OOPSLA 2019!
	      <li>Swarnendu Biswas's paper on <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#arc">
	ARC: rethinking support for region conflict exceptions</a> appeared at IDPS 2019!
      </ul>
    </p>
  </div>
</div>
